<div>
  <.header>
    <%= @title %>
    <:subtitle>Use this form to manage positions in your portfolio.</:subtitle>
  </.header>

  <.simple_form
    for={@form}
    id="positions-form"
    phx-target={@myself}
    phx-change="validate"
    phx-submit="save"
  >
    <.input field={@form[:ticker]} label="Stock Ticker" />

    <:actions>
      <.button phx-disable-with="Saving...">Save Position</.button>
    </:actions>
  </.simple_form>
</div>
