<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "ProfitryApp" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <ul>
      <%= if @current_user do %>
        <li>
          <%= @current_user.email %>
        </li>
        <.link patch={~p"/users/settings"}>
          <.button>Settings</.button>
        </.link>
        <.link patch={~p"/users/log_out"} method="delete">
          <.button>Logout</.button>
        </.link>
        <.link patch={~p"/portfolios"}>
          <.button>List Portfolios</.button>
        </.link>
      <% else %>
        <.link patch={~p"/users/register"}>
          <.button>Register</.button>
        </.link>
        <.link patch={~p"/users/log_in"}>
          <.button>Log in</.button>
        </.link>
      <% end %>
    </ul>
    <%= @inner_content %>
  </body>
</html>
